# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

.idea/

# dependencies
Frontend/node_modules
Frontend/.pnp 
Frontend/.pnp.js
Frontend/package-lock.json

# testing
Frontend/coverage

# production
Frontend/build

# misc
Frontend/.DS_Store
Frontend/.env.local
Frontend/.env.development.local
Frontend/.env.test.local
Frontend/.env.production.local

Frontend/npm-debug.log*
Frontend/yarn-debug.log*
Frontend/arn-error.log*

Backend/venv/
Backend/.env
Backend/.idea/

__pycache__/
analyst_tone/
Backend/config/.env
.env
