.area{
    margin-top: 32px;
}
.title div{
    display: flex;
    justify-content: start;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 18px;
    color: #072D4B;
    margin-top: 24px;
}
.card_area{
    margin-top: 24px;
    display: flex;
    justify-content: space-between;
}
.card{
    width: 142px;
    height: 185px;
    background: #FFFFFF;
    box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.04);
    border-radius: 4px;
}