.container {
    text-align: center;
    position: relative;
}
.header-area .title{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
    color: #072D4B;
}
.report-content {
    /* font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 47px;
    display: flex;
    align-items: center;
    color:red; */
}
.related-report .title{ 
    text-align: left;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 18px;
    margin-bottom: 20px;
/* identical to box height */


/* amber black */

color: #072D4B;
}
.related-report-card{
    display: inline-block;
    width: 142px;
    height: 185px;
}
